// Typography Stylesheet


ul{
    list-style-type:none; 
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    font-size: 2em;
    
    a:link{
        text-decoration: none;
        color: $primary-color;
    }
    
    a:visited{
        text-decoration: none;
        color: $primary-color;
    }
    
    a:hover{
        text-decoration: none;
        color: $secondary-color;
    }
}